<plugin>
	<param name="name">Test</param>
	<param name="processors">
		<param name="processor">org.aitools.programd.processor.test.TestProcessor</param>
	</param>
	<param name="supports">
		<param name="support">org.aitools.programd.server.core.test.TestSupport</param>
	</param>
	<param name="container">
		<![CDATA[
		<xs:complexType name="TestMixedTemplateContentContainer" mixed="true">
			<xs:complexContent>
      			<xs:extension base="MixedTemplateContentContainer">
      				<xs:attribute name="query" type="xs:string"></xs:attribute>
      			</xs:extension>
      		</xs:complexContent>
		</xs:complexType>]]>
	</param>
	<param name="processorElement">
		<![CDATA[<xs:element name="test" type="TestMixedTemplateContentContainer"></xs:element>]]>
	</param>
</plugin>
