<plugin>
	<name>Test</name>
	<processors>
		<processor class="org.aitools.programd.processor.test.TestProcessor"></processor>
	</processors>
	<supports>
		<support class="org.aitools.programd.server.core.test.TestSupport">		
			<param name="s" class="java.lang.String">mondo</param>
			<param name="i" class="java.lang.Integer">30</param>
		</support>
	</supports>
	<container>
		<![CDATA[
		<xs:complexType name="TestMixedTemplateContentContainer" mixed="true">
			<xs:complexContent>
      			<xs:extension base="MixedTemplateContentContainer">
      				<xs:attribute name="query" type="xs:string"></xs:attribute>
      			</xs:extension>
      		</xs:complexContent>
		</xs:complexType>]]>
	</container>
	<processorElement>
		<![CDATA[<xs:element name="test" type="TestMixedTemplateContentContainer"></xs:element>]]>
	</processorElement>
</plugin>
